@import variables.sass

.button
  font-size: 18px
  font-weight: bold
  color: $white
  width: 290px
  height: 70px
  border-radius: 35px
  background-color: $teal
  letter-spacing: 1px
  padding: 25px 40px

body
  font-family: 'Open Sans', sans-serif
  max-width: 1440px
  margin: auto
a
  text-decoration: none
  color: black
  &:hover
    text-decoration: underline

nav
  border: 1px solid lightgrey //test
  border-top: none
  position: relative
  font-weight: bold
  font-size: 16px
  background-color: $white
  ul
    padding: 0
    margin: 0px 328px 0px 328px
    list-style: none
    display: flex
    justify-content: space-between
    li
      margin: 59px 0 59px 0
  img
    position: absolute
    top: 19%
    left: 91px
  p
    padding: 15px 35px
    position: absolute
    top: 19%
    right: 100px
    background: #c02482
    border-radius: 25px
    a
      color: $white
      margin: auto
