.index_1_intro {
  height: 660px;
  background: url("../assets/images/glavnaya-hero-image.png");
  background-position: -0px -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index_1_intro h1 {
  margin-top: 111px;
  color: #ffffff;
  font-size: 48px;
  max-width: 820px;
  text-align: center;
  line-height: 59px;
  letter-spacing: 1px;
}

.index_1_intro p {
  max-width: 898px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 34px;
  margin-top: 13px;
}

.index_1_intro div {
  margin-top: 66px;
}

.index_2_numbers {
  height: 623px;
}

.index_2_numbers h1 {
  font-size: 36px;
  font-family: 'Open Sans SemiBold';
  margin-top: 130px;
  text-align: center;
}

.index_2_numbers span {
  font-size: 80px;
  color: #c02482;
  padding-left: 100px;
  background-repeat: no-repeat;
  background-position: 11px 16px;
  display: inline-block;
}

.index_2_numbers .cert {
  background-image: url("../assets/images/certificate_icon.png");
}

.index_2_numbers .graduation {
  margin-top: 110px;
  background-image: url("../assets/images/graduation_icon.png");
}

.index_2_numbers .presentation {
  background-image: url("../assets/images/presentation_icon.png");
}

.index_2_numbers .portrait {
  margin-top: 110px;
  background-image: url("../assets/images/portrait_icon.png");
}

.index_2_numbers .column_1 {
  display: flex;
  flex-direction: column;
}

.index_2_numbers .column_2 {
  display: flex;
  flex-direction: column;
}

.index_2_numbers p {
  max-width: 240px;
  font-size: 24px;
  text-align: center;
  margin-left: 30px;
  margin-top: 26px;
}

.index_2_numbers .i2_wrapper {
  margin-top: 65px;
  padding: 0px 198px 0px 273px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.index_3_experts {
  border: 1px solid red;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index_3_experts h1 {
  font-size: 36px;
  font-family: 'Open Sans SemiBold';
  margin-top: 117px;
  text-align: center;
}

.i3_experts_wrapper {
  display: flex;
  flex-direction: row;
}

.i3_experts_wrapper > div {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 75px 120px 90px 0px;
  text-align: center;
}

.i3_experts_wrapper > div:first-child {
  margin-left: 120px;
}

.i3_experts_wrapper h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 550;
}

.i3_experts_wrapper h2 span {
  font-size: 24px;
  display: block;
  font-weight: 600;
}
